accelerate==0.20.3
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
anyio==3.7.0
appdirs==1.4.4
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
bitsandbytes==0.39.0
black==23.3.0
certifi==2023.5.7
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.4
contourpy==1.1.0
cycler==0.11.0
datasets==2.13.0
decorator==5.1.1
deepspeed==0.9.4
dill==0.3.6
exceptiongroup==1.1.1
executing==1.2.0
fastapi==0.97.0
ffmpy==0.3.0
filelock==3.12.2
fire==0.5.0
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
gradio==3.35.2
gradio_client==0.2.7
h11==0.14.0
hjson==3.1.0
httpcore==0.17.2
httpx==0.24.1
huggingface-hub==0.15.1
idna==2.8
ipython==8.14.0
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.17.3
kiwisolver==1.4.4
linkify-it-py==2.0.2
lit==16.0.6
loralib==0.1.1
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
networkx==3.1
ninja==1.11.1
numpy==1.24.3
orjson==3.9.1
packaging==23.1
pandas==2.0.2
parso==0.8.3
pathspec==0.11.1
peft @ git+https://github.com/huggingface/peft.git@9320373c129f71298a181989af1b134b138d2d43
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.3
prompt-toolkit==3.0.38
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.1
pydantic==1.10.9
pydub==0.25.1
Pygments==2.15.1
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
safetensors==0.3.1
scipy==1.10.1
semantic-version==2.10.0
sentencepiece==0.1.99
sniffio==1.3.0
stack-data==0.6.2
starlette==0.27.0
sympy==1.12
termcolor==2.3.0
tokenize-rt==5.1.0
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tqdm==4.65.0
traitlets==5.9.0
transformers==4.30.2
triton==2.0.0
typing_extensions==4.6.3
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==1.23
uvicorn==0.22.0
wcwidth==0.2.6
websockets==11.0.3
xxhash==3.2.0
yarl==1.9.2
